# Data Loading

Get some data to play with

In [4]:
from sklearn.datasets import fetch_openml
blood = fetch_openml('blood-transfusion-service-center', as_frame=True)
print(blood.DESCR)

**Author**: Prof. I-Cheng Yeh
**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/Blood+Transfusion+Service+Center)
**Please cite**: Yeh, I-Cheng, Yang, King-Jang, and Ting, Tao-Ming, "Knowledge discovery on RFM model using Bernoulli sequence", Expert Systems with Applications, 2008.

**Blood Transfusion Service Center Data Set**
Data taken from the Blood Transfusion Service Center in Hsin-Chu City in Taiwan -- this is a classification problem.

To demonstrate the RFMTC marketing model (a modified version of RFM), this study adopted the donor database of Blood Transfusion Service Center in Hsin-Chu City in Taiwan. The center passes their blood transfusion service bus to one university in Hsin-Chu City to gather blood donated about every three months. To build an FRMTC model, we selected 748 donors at random from the donor database.

### Attribute Information
* V1: Recency - months since last donation
* V2: Frequency - total number of donation
* V3: Monetary - total blood donated in c.c.
* V4: Time - months since first donation), and a binary variable representing whether he/she donated blood in March 2007 (1 stand for donating blood; 0 stands for not donating blood).

The target attribute is a binary variable representing whether he/she donated blood in March 2007 (2 stands for donating blood; 1 stands for not donating blood).

Downloaded from openml.org.

In [7]:
data = blood.frame
data.head()

    V1    V2       V3    V4 Class
0  2.0  50.0  12500.0  98.0     2
1  0.0  13.0   3250.0  28.0     2
2  1.0  16.0   4000.0  35.0     2
3  2.0  20.0   5000.0  45.0     2
4  1.0  24.0   6000.0  77.0     1

In [10]:
X = data.drop('Class', axis=1)
y = data.Class

In [11]:
X.head()

    V1    V2       V3    V4
0  2.0  50.0  12500.0  98.0
1  0.0  13.0   3250.0  28.0
2  1.0  16.0   4000.0  35.0
3  2.0  20.0   5000.0  45.0
4  1.0  24.0   6000.0  77.0

In [12]:
y.value_counts()

1    570
2    178
Name: Class, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
pd.plotting.scatter_matrix(X, c=y=='2', cmap='Paired', figsize=(10, 10));

**Data is always a numpy array (or sparse matrix) of shape (n_samples, n_features)**

Split the data to get going

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
X.shape

In [ ]:
X_train.shape

In [ ]:
X_test.shape

# Exercises
# https://github.com/DS-BootCamp-DSI-Columbia/AY2019-2020-Winter-Collaboratory-Faculty/

## Excercise 1

Load the ``'wine_quality'`` dataset using the ``fetch_mldata`` function.
The function returns a dictionary-like object that has the same attributes as ``blood``.

What is the number of classes, features and data points in this dataset?
Use a scatterplot to visualize the dataset.

You can look at ``DESCR`` attribute to learn more about the dataset.
``print(iris.DESCR)``

Split the data into training and test set.

In [ ]:
# %load solutions/load_iris.py